@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

*, *::before, *::after { box-sizing: border-box; }

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}
